@use 'variables';
@use 'utilities'; 
@use 'sass:map';
@use 'sass:color';

// Notto Table 
.notto-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    text-align: left;
    overflow: hidden;
    background: rgba(map.get(variables.$theme, "light"), 0.05);
    color: map.get(variables.$theme, "light");
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

    @extend .notto-border-radius !optional; 

    // Table Header
    thead {
        background: linear-gradient(135deg, color.adjust(map.get(variables.$theme, "primary"), $lightness: 10%), color.adjust(map.get(variables.$theme, "secondary"), $lightness: -10%));  padding: 10px 0;
        color: map.get(variables.$theme, "light");
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;

        th {
            padding: 16px 20px; 
            border-bottom: none;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background: rgba(map.get(variables.$theme, "dark"), 0.3);
                transform: scaleX(0);
                transition: transform 0.3s ease;
            }

            &:hover:after {
                transform: scaleX(1);
            }
        }
    }

    // Table Cells
    th, td {
        padding: 14px 20px; 
        border-bottom: 1px solid rgba(map.get(variables.$theme, "dark"), 0.1);
    }

    // Table Body
    tbody {
        tr {
            transition: all 0.3s ease;
            color: map.get(variables.$theme, "dark");

            &:nth-child(even) {
                background: rgba(map.get(variables.$theme, "dark"), 0.03);
            }

            &:hover {
                background: rgba(map.get(variables.$theme, "primary"), 0.1);
                transform: translateY(-2px);
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            }
        }
    }
}

// Responsive Table Styles
@media (max-width: 768px) {
    .notto-table {
        font-size: 14px;
        border-radius: 8px;
        
        th, td {
            padding: 12px 16px;
        }

        thead th {
            padding: 14px 16px; 
        }
    }
}

// Effect on Hover
.notto-table:hover {
    box-shadow: 0 0 10px map.get(variables.$theme, "primary");
    transition: box-shadow 0.3s ease;
}





